# This is a gitignore file. Folders and file types in here will not
# be added to version control and will not be uploaded to Github.
# For example we ignore the hidden files from Pycharm and VS Code.
*.env
node_modules/
