//
// Template for the OGP Contact Us reply email.
//
// Jim Olivi 2003
//
// email.handlebars

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Reply Email</title>
</head>
<body>
  <h2>Hello {{ mailFromName }}! </h2>
  <p>Thank you for contacting us at Old Guy Programmer.</p>
  <p>We will get back to you shortly. </p>
</body>
</html>