<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Reply Email</title>
</head>

<body>

<p>Query from {{ messageFrom }} {{ eMailFrom }}</p>

<h3>Message</h3>

<span>{{ message }}</span>
</body>

</html>