<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Reply Email</title>
</head>

<body>
<p>
Thank you for contacting the Old Guy Programmer Team. We are ready to speak with you on how we can help you solve your
business challenges using technology.
</p>
<p>
We have expertise in the following disciplines:
</p>
<ul>
<li>System Design</li>
<li>System Support</li>
    <ul>
        <li>Documentation</li>
        <li>Training</li>
    </ul>
<li>Full Stack Web development</li>
    <ul>
        <li>Client</li>
        <ul>
            <li>HTML</li>
            <li>React</li>
            <li>Flask</li>
            <li>Bootstrap</li>
        </ul>
        <li>Server</li>
        <ul>
            <li>Python</li>
            <li>Javascript</li>
            <ul>
                <li>Node/Express</li>
            </ul>
        </ul>
        <li>Databases</li>
        <ul>
            <li>MongoDB</li>
            <li>SQL</li>
            <li>Google Firebase</li>
        </ul>
    </ul>
<li>Portfolio</li>
    <ul>
        <li>Indiana Wing Commemorative Air Force Warbird Rides Booking</li>
    </ul>
</ul>

Copyright {{ copyRight }}
</body>

</html>