<!-- 
Response web page sent in response to contactus Email

Old Guy Programmer 2023 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>OGP Response</title>

    <!-- Get Google Fonts. -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=EB+Garamond&family=Gideon+Roman&family=Open+Sans:wght@300;700&display=swap"
        rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link rel="stylesheet" type="text/css" href="response.css" />
</head>

<body>
    <h1>Old Guy Programmer</h1>
    <div class="text-container">
        <h3>Thank you for contacting the Old Guy Programmer support team.</h3>
        <span>Please check your email for more information. If you don’t get the email, and don’t forget to check your spam bucket,
        please try again.</span>
        <span>If you asked for help or for more information, watch your email for the response.</span>
    </div>
    <br><p1 class="closer">Regards: </p1><span class="signature">The Old Guy Programmer support team.</span>
</body>

</html>